@tailwind base;
@tailwind components;
@tailwind utilities;

input.error {
    border: 2px solid #FC826D;
    border-radius: 5px;
}

/* li {
    list-style-image: url("/assets/icons/heart\ icon.svg");
} */